{% extends "layout.html" %}

{% load custom_tags %}


{% block navbar %}
    <form action="/search/" method="POST" class="form-inline my-2 my-lg-0 ml-auto">
        {% csrf_token %}
        <input name="query" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search Books</button>
    </form>
{% endblock %}


{% block main %}



                {% for eachBook in queryset %}
        
                <div class="row bookListItem">
                    <form id="{{ eachBook.ISBN }}" action="/bookDetails" method="GET">
                        <input name="bookISBN" value="{{ eachBook.ISBN }}" type="hidden"></input>
                    </form>
        
                    <div class="col-2">
                        <img src="{{ eachBook.cover.url }}" class="cover" onclick="$('#{{ eachBook.ISBN }}').submit()"/>
                    </div>
        
                    <div class="col bookDetails">    
                            <p class="bookTitle" onclick="$('#{{ eachBook.ISBN }}').submit()">{{ eachBook.title }}</p>
        
                            {% for author in eachBook.author.all %}
                                <span class="authorName">{{ author.name }}</span>
                            {% endfor %}

                            <br />
                            {% load icons %}
                            {% if bookRatingsDict|get_item:eachBook %}
                                {% for star in bookRatingsDict|get_item:eachBook %}
                                    {% icon  star  %}
                                {% endfor %}
                            {% else %}
                                <p>No reviews yet!</p>
                            {% endif %}
                            
                    </div>
                </div>
            {% endfor %}
        



{% endblock %}