<!doctype html>
<html lang=“en">

    <head>
        <meta charset="UTF-8">
        <meta name="Author" content="">
        <meta name="Keywords" content="">
        <meta name="Description" content="">
        <title>Re-book</title>

        

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        {%  load static %}

        {% block css%}
        {% endblock %}

        <link rel="icon" href={% static 'images/icon.png' %}>

        <link rel="stylesheet" href={% static 'styles/layoutStyles.css' %}>

    </head>

    <body>
        {% if not request.user.is_anonymous %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <a class="navbar-brand" href="/">
                <img class="logo" src={%  static 'images/logo.png' %}/>                
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="#">Collection</a>
                    <a class="nav-item nav-link" href="#">Trades</a>
                </div>
                <form class="form-inline my-2 my-lg-0 ml-auto">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search Books</button>
                </form>
                <div class="navbar-nav ml-5">
                    <a class="nav-item nav-link" href="#">Account</a>
                    {% if not request.session.hasNotifications %}
                    <a class="nav-item nav-link" style="width: 5vw" href="#">
                        <img style="height:5vh; padding-top:5px" src={% static 'images/envelope.png' %}/>
                    </a>
                    {% else %}
                    <a class="nav-item nav-link" style="width: 5vw" href="#">
                        <img style="height:5vh" src={% static 'images/envelopeNotif.png' %}/>
                    </a>
                    {% endif %}
                    <a class="nav-item nav-link" href="/logout">Logout</a>

                </div>
            </div>
            
        </nav>

        

        {% else %}

        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <a class="navbar-brand" href="/">
                <img class="logo" src={%  static 'images/logo.png' %}/>                
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <form class="form-inline my-2 my-lg-0 ml-auto">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search Books</button>
                </form>
                <div class="navbar-nav ml-5" data-toggle="modal" data-target="#loginModal">
                    <a id="login" class="nav-item nav-link" href="/login">Login</a>
                </div>
            </div>
            
        </nav>

         <div id="content">
            {% block content %}{% endblock %}
        </div>

        {% endif %}
        
        {% block main %}{% endblock %}        
        
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src={% static "scripts/main.js" %}></script>
    </body>
</html>