{% extends "layout.html" %}

{% block content %}
    <div  class="container" id="container">
        <form>
            <p id="title">Login to Re-Book</p>
            <label>Email: </label>
            <br />
            <input class="form-control">
            <br />
            <label>Password: </label>
            <br/>
            <input class="form-control">
            <br />
            <button type="submit" class="btn btn-outline-warning my-2 my-sm-0" id="button">Login</button>
        </form>
    </div>
{% endblock %}