{% extends "layout.html" %}

{% load custom_tags %}

{% block main %}
    <ul class="row nav nav-tabs justify-content-center">
        <li><a class="active" href="/proposals" id="toggle-proposals">Proposals</a></li>
        <li><a href="/offers" id="toggle-offers">Offers</a></li>
        <li><a href="/trades" id="toggle-trades">Trades</a></li>
        <li><a href="/purchases" id="toggle-offers">Purchases</a></li>
        <li><a href="/sold" id="toggle-offers">Sold</a></li>
    </ul>
    <div class="">
        {% for proposal in my_proposals %}
        <div class="row bookListItem">
            <div class="col-2 bookDetails my-auto">
                <p>To: {{proposal.bookInstance.User.username}}</p>
            </div>
            <div class="col-2">
                <img src="{{ proposal.bookInstance.ISBN.cover.url }}" class="cover" id="bookCover"/>
            </div>
            <div class="col-4 bookDetails">
                <p class="bookTitle">{{ proposal.bookInstance.ISBN.title }}</p>
                    {% for author in proposal.bookInstance.ISBN.author.all %}
                        <span class="authorName">{{ author.name }}</span>
                    {% endfor %}
            </div>

            
            <div col-1 class="my-auto">
                {% ifequal proposal.state.id 1 %}
                    <span class="authorName state" style="color: green">{{ proposal.state.state }}</span>
                {% endifequal %}

                {% ifequal proposal.state.id 2 %}
                    <span class="authorName state" style="color: red">{{ proposal.state.state }}</span>
                {% endifequal %}

                {% ifequal proposal.state.id 3 %}
                    <span class="authorName state" style="color: #ffa20e">{{ proposal.state.state }}</span>
                {% endifequal %}

                {% ifequal proposal.state.id 4 %}
                    <span class="authorName state" style="color: #ffa20e">{{ proposal.state.state }}</span>
                {% endifequal %}
            </div>
            
                
        </div>
            
        {% endfor %}
    </div>

{% endblock %}

