{% extends "layout.html" %}

{% load custom_tags %}

{% block navbar %}
    <form action="/search/" method="POST" class="form-inline my-2 my-lg-0 ml-auto">
        {% csrf_token %}
        <input name="query" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search Books</button>
    </form>
{% endblock %}


{% block main %}
    <ul class="row nav nav-tabs justify-content-center">
        <li><a href="/proposals" id="toggle-proposals">Proposals</a></li>
        <li><a href="/offers" id="toggle-offers">Offers</a></li>
        <li><a class="active" href="/trades" id="toggle-trades">Trades</a></li>
        <li><a href="/purchases" id="toggle-offers">Purchases</a></li>
        <li><a href="/sold" id="toggle-offers">Sold</a></li>
    </ul>
    <div class="">
        <h3>Pending</h3>
        {% for trade in trades %}
        <div class='container-fluid'>
        <div class="row bookListItemNoBorder">
            
            <div class="col-1 bookDetails my-auto " style="margin:0">
                <p>From: {{trade.proposalID.bookInstance.User.username}}</p>
            </div>
            <div class="col-1" style="margin:0">
                <img src="{{ trade.proposalID.bookInstance.ISBN.cover.url }}" class="cover" id="bookCover"/>
            </div>
            <div class="col-3 bookDetails" style="margin:0">
                <p class="bookTitle">{{ trade.proposalID.bookInstance.ISBN.title }}</p>
                    {% for author in trade.proposalID.bookInstance.ISBN.author.all %}
                        <span class="authorName">{{ author.name }}</span>
                    {% endfor %}
            </div>

            <div class="col-1 bookDetails my-auto" style="margin:0">
                <p>From: {{trade.bookInstance2.User.username}}</p>
            </div>
            <div class="col-1" style="margin:0">
                <img src="{{ trade.bookInstance2.ISBN.cover.url }}" class="cover" id="bookCover"/>
            </div>
            <div class="col-3 bookDetails" style="margin:0">
                <p class="bookTitle">{{ trade.bookInstance2.ISBN.title }}</p>
                    {% for author in trade.bookInstance2.ISBN.author.all %}
                        <span class="authorName">{{ author.name }}</span>
                    {% endfor %}
            </div>
                
        </div>
    </div>

        <div class="row bookListItemButtons justify-content-end">
            <form action="confirmTrade/" method="POST" style="margin-right: 3vw">{% csrf_token %}
                <button class="btn btn-success">Accept Trade</button>
                <input type="hidden" name="trade" value="{{trade.id}}" />
            </form>

            <form action="rejectTrade/" method="POST" style="margin-right: 7vw">{% csrf_token %}
                <button class="btn btn-danger">Reject Trade</button>
                <input type="hidden" name="trade" value="{{trade.id}}" />
            </form>
        </div>

        {% empty %}
        <span class="info">No pending trades</span>
            
        {% endfor %}
    </div>

    <div class="spacer"></div>

    <div>
        <h3>History</h3>
        {% for trade in finished %}
        <div class="row bookListItemNoBorder">
            <div class="col-1 bookDetails my-auto">
                <p>From: {{trade.proposalID.bookInstance.User.username}}</p>
            </div>
            <div class="col-2">
                <img src="{{ trade.proposalID.bookInstance.ISBN.cover.url }}" class="cover" id="bookCover"/>
            </div>
            <div class="col-3 bookDetails">
                <p class="bookTitle">{{ trade.proposalID.bookInstance.ISBN.title }}</p>
                    {% for author in trade.proposalID.bookInstance.ISBN.author.all %}
                        <span class="authorName">{{ author.name }}</span>
                    {% endfor %}
            </div>

            <div class="col-1 bookDetails my-auto">
                <p>From: {{trade.bookInstance2.User.username}}</p>
            </div>
            <div class="col-2">
                <img src="{{ trade.bookInstance2.ISBN.cover.url }}" class="cover" id="bookCover"/>
            </div>
            <div class="col-3 bookDetails">
                <p class="bookTitle">{{ trade.bookInstance2.ISBN.title }}</p>
                    {% for author in trade.bookInstance2.ISBN.author.all %}
                        <span class="authorName">{{ author.name }}</span>
                    {% endfor %}
            </div>
                
        </div>

        <div class="row bookListItemButtons justify-content-center">
            {% ifequal trade.state.id 1 %}
                <span class="authorName state" style="color: green">{{ trade.state.state }}</span>
            {% endifequal %}

            {% ifequal trade.state.id 2 %}
                <span class="authorName state" style="color: red">{{ trade.state.state }}</span>
            {% endifequal %}

            {% ifequal trade.state.id 3 %}
                <span class="authorName state" style="color: #ffa20e">{{ trade.state.state }}</span>
            {% endifequal %}
        </div>
            
        {% endfor %}

        {% for trade in remaining %}
        <div class="row bookListItemNoBorder">
            <div class="col-1 bookDetails my-auto">
                <p>From: {{trade.proposalID.bookInstance.User.username}}</p>
            </div>
            <div class="col-2">
                <img src="{{ trade.proposalID.bookInstance.ISBN.cover.url }}" class="cover" id="bookCover"/>
            </div>
            <div class="col-3 bookDetails">
                <p class="bookTitle">{{ trade.proposalID.bookInstance.ISBN.title }}</p>
                    {% for author in trade.proposalID.bookInstance.ISBN.author.all %}
                        <span class="authorName">{{ author.name }}</span>
                    {% endfor %}
            </div>

            <div class="col-1 bookDetails my-auto">
                <p>From: {{trade.bookInstance2.User.username}}</p>
            </div>
            <div class="col-2">
                <img src="{{ trade.bookInstance2.ISBN.cover.url }}" class="cover" id="bookCover"/>
            </div>
            <div class="col-3 bookDetails">
                <p class="bookTitle">{{ trade.bookInstance2.ISBN.title }}</p>
                    {% for author in trade.bookInstance2.ISBN.author.all %}
                        <span class="authorName">{{ author.name }}</span>
                    {% endfor %}
            </div>
                
        </div>

        <div class="row bookListItemButtons justify-content-center">
            {% ifequal trade.state.id 1 %}
                <span class="authorName state" style="color: green">{{ trade.state.state }}</span>
            {% endifequal %}

            {% ifequal trade.state.id 2 %}
                <span class="authorName state" style="color: red">{{ trade.state.state }}</span>
            {% endifequal %}

            {% ifequal trade.state.id 3 %}
                <span class="authorName state" style="color: #ffa20e">{{ trade.state.state }}</span>
            {% endifequal %}
        </div>
            
        {% endfor %}
    </div>

{% endblock %}

