body{
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    height: 10vh;
    background-color: #323232 !important;
    top: 0
}

.btn {
    color: #F6E648;
}

.bookListItem {
    height: 21vh;
    padding-bottom: 3vh !important;
    padding-top: 3vh !important;
    border-bottom: 1px solid black;
    text-align: center;
}

.bookDetails {
    text-align: left
}

.cover {
    height: 15vh;
    margin-right: 5vw;
    padding-left: 5vw
}

.bookTitle {
    font-size: 1.3rem;
    margin-top: 2vh;
    font-weight: bold;
    margin-bottom: 2px;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important
}

.authorName {
    font-size: 1rem;
    margin-right: 10px
}

.nav-item {
    color: white !important;
    font-size: 1.3rem;
    width:8vw;
    text-align: center;
    line-height: 7vh;
}

.nav-item:hover, .nav-item:active {
    font-size: 1.35rem;
    color: #FFF698 !important
} 

.btn-outline-warning {
    border-color: #F6E648;
}

.btn-outline-warning:hover, .btn-outline-warning:active {
    border-color: #F6E648;
    background-color: #FFF698;
    color: black
}

.loginLabels {
    font-size: 1.2rem;
    font-weight: bold;
    color: #1D1500;
    padding-left: 5px
}

.navbar-brand {
    width:14vw;
    height:9vh;
    margin-top: 0px;
    border-top: 0px;
    padding-top: 0px;
}

.modal-body {
    background-color: #E1A000 !important;
}

.modal-header {
    background-color: #323232 !important;
    font-weight: bold;
    color: #FFFFFF;
    border-color: black
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

.btn-outline-dark {
    width: 50%;
    color: white
}

.logo {
    height: 9vh;
}

#edit {
    color: white !important;
    text-align: center;

}

#edit:hover, #edit:active {
    color: #FFF698 !important
}