body{
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    height: 10vh;
    background-color: #323232 !important;
    top: 0
}

.rightGradient {
    background-image: linear-gradient(to right, #726F6F , #C8C6C6);
}

.leftGradient {
    background-image: linear-gradient(to left, #726F6F , #C8C6C6);
}

.btn {
    color: #F6E648;
}

.bookListItem {
    height: 21vh;
    padding-bottom: 3vh !important;
    padding-top: 3vh !important;
    border-bottom: 1px solid black;
    text-align: center;
}

.bookListItemNoBorder {
    height: 21vh;
    padding-bottom: 3vh !important;
    padding-top: 3vh !important;
    text-align: center;
}

.bookListItemButtons {
    height: 10vh;
    padding-bottom: 3vh !important;
    padding-top: 3vh !important;
    border-bottom: 1px solid black;
    text-align: center;
}

.bookDetails {
    text-align: left;
    margin-left: 3vw
}

.cover {
    height: 15vh;
    margin-right: 5vw;
    padding-left: 5vw
}

.bookTitle {
    font-size: 1.3rem;
    margin-top: 2vh;
    font-weight: bold;
    margin-bottom: 2px;
}

.bookTitle, .cover {
    cursor: pointer
}

.authorName {
    font-size: 1rem;
    margin-right: 10px
}

.nav-item {
    color: white !important;
    font-size: 1.3rem;
    width:8vw;
    text-align: center;
    line-height: 7vh;
}

.nav-item:hover, .nav-item:active {
    font-size: 1.35rem;
    color: #FFF698 !important
} 

.btn-outline-warning {
    border-color: #F6E648;
}

.btn-outline-warning:hover, .btn-outline-warning:active {
    border-color: #F6E648;
    background-color: #FFF698;
    color: black
}

.loginLabels {
    font-size: 1.2rem;
    font-weight: bold;
    color: #1D1500;
    padding-left: 5px
}

.navbar-brand {
    width:14vw;
    height:9vh;
    margin-top: 0px;
    border-top: 0px;
    padding-top: 0px;
}

.modal-body {
    background-color: #E1A000 !important;
}

.modal-header {
    background-color: #323232 !important;
    font-weight: bold;
    color: #FFFFFF;
    border-color: black
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

.btn-outline-dark {
    width: 50%;
    color: white
}

.logo {
    height: 9vh;
}

<<<<<<< HEAD

.nav.nav-tabs {
    background-color: gray;
    height: 7vh;
}
.nav.nav-tabs li {
    justify-content: center;
    height: 100%;
    padding: 10px 30px 0 30px; 
}

.nav.nav-tabs li:hover {
    background-color: #323232;
}

.nav.nav-tabs a {
    color: white;
}

.nav.nav-tabs a.active {
    border-bottom: 3px solid white;
    font-weight: bold;
}

.state {
    font-size: 1.3em;
    font-weight: bold
}

.spacer {
    height: 15vh;
=======
#edit {
    color: white !important;
    text-align: center;

}

#edit:hover, #edit:active {
    color: #FFF698 !important
>>>>>>> e414c189ae04b4c8640f0f5408292d150f26e3b7
}